h1 {
	font-family: Lucida Bright, Georgia, serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 800;
	line-height: 26.4px;
}
h2, h3 {
	font-family: Lucida Bright, Georgia, serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 800;
	line-height: 22px;
}
p, ul {
	font-family: Lucida Bright, Georgia, serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: Lucida Bright, Georgia, serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
